* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-navigation-color: #161616b6;
  --swiper-navigation-size: 24px;

  --var-font: "Montserrat", sans-serif;
  --var-font-title: "Averia Gruesa Libre", sans-serif;
  --var-green: #a4c213;
  --var-white: #ffffff;
  --var-black: #161616;
  --var-colorDisabled: #ffffff9a;
}

html {
  font-family: var(--var-font);
}

body {
  max-width: 100vw;
  overflow: overlay;
  font-family: var(--var-font);
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.menuTelasMenores,
.menuHamburguer {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: min( 144rem, 100%); 
  height: 11.8rem;
  margin: 4rem 10rem 0 10rem;
}

.logoPatinhasOnline {
  width: 16.6rem;
  height: 9.8rem;
}

ul {
  font-size: 1.6rem;
  color: var(--var-white);
  list-style: none;
}

.navigation {
  display: flex;
  height: 4.3rem;
  padding-left: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: var(--var-white);
}

.navigation li:nth-child(2) a:hover,
.navigation li:nth-child(3) a:hover,
.navigation li:nth-child(4) a:hover,
.navigation li:nth-child(5) a:hover
 {
  color: var(--var-green);
}

/* .navigation li:nth-child(6) a, .navigation li:nth-child(3) a {
  color: var(--var-colorDisabled);
  
} */

/* .navigation li:nth-child(6) a:hover, .navigation li:nth-child(3) a:hover {
  cursor: not-allowed;
} */

.navigation li {
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
  font-weight: 600;
}

.navigation li.ativo::before {
  content: "";
  position: absolute;
  bottom: calc(0rem - -1rem);
  width: calc(100% - 2rem);
  height: 2px;
  background-color: var(--var-green);
}

.navigation :nth-child(6),
.navigation :nth-child(7) {
  display: flex;
  min-width: 15rem;
  padding: 1.4rem 2.6rem;
  justify-content: center;
  align-items: center;

  background-color: var(--var-green);
  border-radius: 10rem;
}

.navigation :nth-child(6) a,
.navigation :nth-child(7) a {
  color: var(--var-black);
}

.navigation :nth-child(6):hover,
.navigation :nth-child(7):hover {
  background-color: var(--var-white);
  cursor: pointer;
  outline: 2px solid var(--var-green);
}

.navigation :nth-child(6) {
  margin-right: 1rem;
}

.navigation :nth-child(7) {
  margin-right: 0;
}

/* --------------- section Inicio --------------- */

.section-inicio {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.63) 0%,
    rgba(0, 0, 0, 0.04) 30.1%,
    rgba(0, 0, 0, 0.9) 100%
  );
  padding: 0 10rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.background-inicio {
  position: absolute;
  top: -9rem;
  width: 101%;
  height: 160%;
  left: 0;
  z-index: -1;
}

.container-inicio {
  width: 124rem;
  height: auto;
  padding: 10rem 0 6rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
}

h1 {
  color: #fff;
  text-align: right;
  font-family: var(--var-font-title);
  font-size: 6rem;
  font-weight: 400;
}

.btn-ajude-causa {
  background: #fff;
  font-family: var(--var-font);
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;

  width: 25.1rem;
  height: 4.8rem;
  border-radius: 10rem;
  border: 2px solid var(--var-green);
}

.btn-ajude-causa a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--var-black);
  text-decoration: none;
}

.btn-ajude-causa:hover {
  background-color: var(--var-green);
  cursor: pointer;
}

/* --------------- section Informações --------------- */

.section-infos {
  max-width: 100%;
  padding: 3rem 6rem;

  display: flex;
  gap: 3rem;
  justify-content: center;
}

.container-infos,
.container-img {
  width: 64.5rem;
  height: 54rem;
  border-radius: 2rem;
}

.container-infos {
  background-color: var(--var-green);
  padding: 10rem;
  font-size: 1.8rem;
  color: var(--var-white);
}

.container-infos h2 {
  font-family: var(--var-font-title);
  font-size: 4.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

/* -------------- section Como ajudar -------------- */

.section-ajudar {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section-ajudar h2 {
  font-family: var(--var-font-title);
  font-size: 4.8rem;
  text-align: center;
}

.container-ajudar {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card-ajudar {
  width: 32.6rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-ajudar img {
  width: 4.1rem;
  margin-bottom: 2rem;
}

.section-ajudar h3 {
  font-size: 2.8rem;
  text-align: center;
  font-family: var(--var-font);
  margin-bottom: 1rem;
}

.section-ajudar p {
  color: #161616;
  text-align: center;
  font-family: var(--var-font);
  font-size: 1.6rem;
  font-weight: 400;
}

.btn-ajudar {
  overflow: hidden;
  width: 15.6rem;
  padding: 1.4rem 2.6rem;
  margin-top: 4rem;
  border-radius: 10rem;
  background: #a4c213;
  border: none;

  font-family: var(--var-font);
  color: #170812;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.1s;
}

a .btn-ajudar  {
  width: 15.6rem;
  color: #170812;
  text-decoration: none;
  
}

.btn-ajudar:hover {
  color: var(--var-green);
  background-color: var(--var-white);
  outline: 2px solid var(--var-green);
  cursor: pointer;
}

.ajudar-opcao {
  transition: transform 0.2s;
}

.ajudar-opcao a {
  color: var(--var-green);
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}

.ajudar-opcao:hover {
  transform: scale(1.05);
}

/* -------------- section frase de efeito-------------- */

.section-frase {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10rem;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-frase img {
  position: absolute;
  max-width: 100%;
  top: -93%;
  left: 0;
  z-index: -1;
}

.section-frase p {
  width: 124rem;
  text-align: center;
  font-family: var(--var-font-title);
  color: var(--var-white);
  font-size: 9.6rem;
  font-weight: 400;
}

/* -------------- Section cards Animais -------------- */

.section-animais {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--var-green);
  padding: 10rem;
}

.section-animais h2 {
  color: var(--var-white);
  font-family: var(--var-font-title);
  font-size: 4.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.container-carrossel-animais {
  width: 104rem;
  height: 45rem;
  position: relative;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  width: 32rem;
  height: 39rem;
  background-color: var(--var-white);
  padding: 1rem;
  border-radius: 2rem;
}

.box-imagem {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;

  display: flex;
  align-items: end;
  padding: 1rem;
  background-color: #818181;
  z-index: -2;
}

.imagem-animal {
  position: absolute;
  width: 100%;
  height: fit-content;
 object-fit: cover; 
  top: 0;
  left: 0;
  transform: scale(1.2);
  z-index: -1;
}

.icon-animal {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.icon-img-info {
  cursor: pointer;
}

.infoIconAnimais span {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--var-white);
  width: 7.9rem;
  height: 2.9rem;
  border-radius: 10rem;
  font-family: var(--var-font);
  font-weight: 500;
  font-size: 1.3rem;
  opacity: 0;
  transition: all 0.5s;
}

.infoIconAnimais {
  display: flex;
  gap: 0.3rem;
}

.infoIconAnimais:hover span {
  opacity: 100%;
}

.info-animal {
  padding: 1rem;
}

.info-animal h4 {
  font-size: 2.4rem;
}

.info-animal > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: var(--var-font);
}

.todos-animais {
  margin-top: 2rem;
}
.todos-animais a {
  font-family: var(--var-font);
  color: var(--var-white);
  text-decoration: none;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  transition: transform 0.3s;
}

.todos-animais a:hover {
  transform: scale(1.05);
}

/* ------------ Section Historias Felizes ------------ */

.section-historias {
  max-width: 100%;
  padding: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebeef1;
}

.section-historias h2 {
  color: var(--var-green);
  font-family: var(--var-font-title);
  font-size: 4.8rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.container-carrossel-historias {
  width: 124rem;
  background: #ebeef1;
}

.section-historias swiper-slide {
  text-align: center;
  background: #ebeef1;
}

.section-historias swiper-container {
  height: 32rem;
}

.box-historias {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0 4rem;
}

.box-historias .img-box {
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #818181;
}

.box-historias .img-box img {
  width: 100%;
  border-radius: 2rem;
}

.historia-feliz {
  width: 79rem;
  background-color: var(--var-white);
  border-radius: 2rem;
  padding: 3rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.4rem;
}

.historia-feliz h4 {
  font-family: var(--var-font);
  font-size: 2.4rem;
  font-weight: 700;
}

.historia-feliz p {
  font-family: var(--var-font);
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
}

/* ------------ Section parceiros ------------ */

.section-parceiros {
  width: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.section-parceiros h2 {
  font-size: 4.8rem;
  font-family: var(--var-font-title);
  font-weight: 400;
}

.container-parceiros {
  height: 23.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#hortaDaVovo img {
  width: 100%;
  height: 100%;
}

#viniVegani img {
  width: 40rem;
}

/* ------------ Section Feed instagram  ------------ */

.section-feedInstagram {
  width: 100%;
  height: 36rem;
  background-color: var(--var-green);
  display: flex;
}

.boxPostagem {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.boxPostagem img {
  width: 100%;
  
}

/* ----------- Footer ------------ */

footer {
  max-width: 100%;
  background-color: var(--var-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-footer {
   width: min( 144rem, 100%); 
  padding: 7rem 15rem 10rem 15rem;
  display: flex;
  justify-content: space-between;
}

.listas-links {
  display: flex;
  gap: 6rem;
}

.container-footer ul li a {
  color: var(--var-white);
  text-decoration: none;
}

.container-footer ul li a:hover {
  text-decoration: underline;
}

.container-footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  font-family: var(--var-font);
  font-size: 1.6rem;
}

.container-footer ul li:nth-child(1) {
  font-weight: 700;
}

.menu-footer {
  font-weight: 700;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}

.redes-sociais a {
  transition: transform 0.3s;
}

.redes-sociais a:hover {
  transform: scale(1.1);
}

.creditos-copywriting {
  display: flex;
  width: 100% ;
  height: 8.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--var-font);
  font-size: 1.2rem;
  color: white;
  background-color: var(--var-black);
  
}

.creditos-copywriting p:nth-child(1) {
  font-size: 1.4rem;
  color: var(--var-green);
}

.creditos-copywriting a {
  color: var(--var-white);
  text-decoration: none;
}

.creditos-copywriting a:hover {
  text-decoration: underline;
}

/*  ------------ Telas médias ------------------- */

@media (min-width: 1225px) and (max-width: 1320px) {
    .section-frase img {
    top: -20rem;
}

.container-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .container-img img {
    width: 100%;
    height: 100%;
  }

  .container-infos {
    padding: 5rem;
   
  }

}

@media (min-width: 1025px) and (max-width: 1225px) {
  .navigation :nth-child(8) {
    width: 22rem;
    padding: 0 2rem;
  }

  footer {
    max-width: 100%;
    background-color: var(--var-green);
  }

  .container-footer {
    width: 100%;
    padding: 7rem 5rem;
  }
  .listas-links {
    width: 100%;
    gap: 3rem;
    justify-content: space-evenly;
  }

  .container-footer ul {
    font-size: 1.8rem;
  }

  .creditos-copywriting {
    font-size: 1.3rem;
  }

  .creditos-copywriting p:nth-child(1) {
    font-size: 1.5rem;
  }

  .section-frase img {
  top: -20rem;
}

/* -------------- Section cards Animais -------------- */

.section-animais {
  padding: 10rem 5rem;
}


.container-carrossel-animais {
  width: 98rem;
  height: 45rem;
  position: relative;
}

swiper-container {
  width: 100%;
  height: 100%;
}

.container-carrossel-animais swiper-slide {
  width: 32rem;
  height: 39rem;
  background-color: var(--var-white);
  padding: 1rem;
  border-radius: 2rem;
}

.box-imagem {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;

  display: flex;
  align-items: end;
  padding: 1rem;
  background-color: #818181;
  z-index: -2;
}

.imagem-animal {
  position: absolute;
  width: 100%;
  height: fit-content;
 object-fit: cover; 
  top: 0;
  left: 0;
  transform: scale(1.2);
  z-index: -1;
}

.icon-animal {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.icon-img-info {
  cursor: pointer;
}

.infoIconAnimais span {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--var-white);
  width: 7.9rem;
  height: 2.9rem;
  border-radius: 10rem;
  font-family: var(--var-font);
  font-weight: 500;
  font-size: 1.3rem;
  opacity: 0;
  transition: all 0.5s;
}

.infoIconAnimais {
  display: flex;
  gap: 0.3rem;
}

.infoIconAnimais:hover span {
  opacity: 100%;
}

.info-animal {
  padding: 1rem;
}

.info-animal h4 {
  font-size: 2.4rem;
}

.info-animal > div {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: var(--var-font);
}

.todos-animais {
  margin-top: 2rem;
}
.todos-animais a {
  font-family: var(--var-font);
  color: var(--var-white);
  text-decoration: none;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  transition: transform 0.3s;
}

.todos-animais a:hover {
  transform: scale(1.05);
}

/* ------------ Section Historias Felizes ------------ */

.section-historias {
  max-width: 100%;
  padding: 10rem 5rem;
  height: auto;
}

.container-carrossel-historias {
  width: 100rem;
}

.box-historias .img-box {
  height: 31rem;
 
}

.historia-feliz {
  height: 31rem;
}

.section-infos {
    padding: 1.5rem 2rem;
    overflow: hidden;
  }

  /* .container-infos, */
  .container-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .container-img img {
    width: 100%;
    height: 100%;
  }

  .container-infos {
    display: flex;
    flex-direction: column;
  
    padding: 5rem;
    font-size: 1.8rem;
  }

  .container-infos h2 {
    font-size: 4rem;
  }



}

@media (min-width: 768px) and (max-width: 1024px) {
  .background-inicio {
    position: absolute;
    top: -9rem;
    width: 130%;
    height: 160%;
    left: -10rem;
    z-index: -1;
  }

  nav {
    width: 100%;
    margin: 4rem 1rem;
  }

  .logoPatinhasOnline {
    width: 10rem;
  }

  ul {
    font-size: 1.3rem;
  }

  .navigation li {
    padding: 1rem;
    margin-right: 1rem;
  }

  .navigation :nth-child(7),
  .navigation :nth-child(8) {
    display: flex;
    min-width: 13rem;
    padding: 0 0.5rem;
    font-size: 1.1rem;
  }

  /* --------- section inicio ---------- */

  .section-inicio {
    padding: 0 3rem;
  }

  .container-inicio {
    width: 100%;
    padding: 10rem 0 6rem 3rem;
    height: auto;
    justify-content: center;
  }

  .container-inicio h1 {
    font-size: 5rem;
  }

  .btn-ajude-causa {
    font-size: 1.3rem;

    width: 22rem;
    height: 4.4rem;
  }

  /* ------------ section info ---------------- */

  .section-infos {
    padding: 1.5rem 2rem;
    overflow: hidden;
  }

  .container-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .container-img img {
    width: 110%;
    height: 100%;
  }

  .container-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    font-size: 1.8rem;
  }

  .container-infos h2 {
    font-size: 4rem;
  }

  /* ------------ section como ajudar ---------------- */

  .section-ajudar {
    padding: 5rem;
    gap: 1.5rem;
  }

  .section-ajudar h2 {
    font-size: 4rem;
  }

  .container-ajudar {
    gap: 1.5rem;
  }

  .card-ajudar {
    width: 25rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-ajudar img {
    width: 3rem;
    margin-bottom: 2rem;
  }

  .section-ajudar h3 {
    font-size: 2rem;
  }

  .section-ajudar p {
    font-size: 1.3rem;
  }

  .btn-ajudar {
    width: 10rem;
    padding: 1rem 1rem;
    margin-top: 4rem;
    font-size: 1.2rem;
  }

  .ajudar-opcao a {
    font-size: 1.4rem;
  }

  .section-frase {
    padding: 2rem;
    overflow: hidden;
    height: 60vh;
  }

  .section-frase img {
    top: -50%;
  }

  .section-frase p {
    width: 100%;
    font-size: 6rem;
  }

  /* -------------- Section animais ----------------- */

  .section-animais {
    padding: 10rem 2rem;
    height: auto;
  }

  .section-animais h2 {
    color: var(--var-white);
    font-family: var(--var-font-title);
    font-size: 3rem;
  }

  .container-carrossel-animais {
    width: 100%;
    height: 45rem;
    position: relative;
  }

  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    width: 28rem;
    height: 33rem;
    padding: 1rem;
  }

  .box-imagem {
    height: 80%;
  }

  .icon-animal {
    width: 100%;
  }

  .sexo-animal {
    width: 3.5rem;
  }

  .infoIconAnimais span {
    width: 100%;
    padding: 0 0.3rem;
    font-size: 1rem;
  }

  .info-animal h4 {
    font-size: 1.8rem;
  }

  .info-animal > div {
    font-size: 1.5rem;
  }

  .todos-animais {
    margin-top: 1rem;
  }

  .todos-animais a {
    font-size: 1.8rem;
  }

  /* ------------ Section Historias Felizes ------------ */

  .section-historias {
    padding: 2rem;
  }

  .section-historias h2 {
    font-size: 3rem;
  }

  .container-carrossel-historias {
    width: 100%;
    height: 100%;
  }

  .section-historias swiper-container {
    height: 100%;
  }

  .box-historias {
    height: 100%;
    padding: 0 3rem;
    gap: 1.5rem;
  }

  .box-historias .img-box {
    width: 50%;
    height: 100%;
  }

  .box-historias .img-box img {
    height: 100%;
  }

  .historia-feliz {
    width: 100%;
    padding: 1.5rem 2rem;
    gap: 0;
  }

  .historia-feliz h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .historia-feliz p {
    font-size: 1.6rem;
  }

  /* ------------ Section Feed instagram  ------------ */

  .section-feedInstagram {
    height: 100%;
    padding-bottom: 2rem;
  }

  /* ----------- Footer ------------ */

  footer {
    max-width: 100%;
    background-color: var(--var-green);
  }

  .container-footer {
    width: 100%;
    padding: 7rem 5rem;
  }
  .listas-links {
    gap: 3rem;
  }

  .container-footer ul {
    font-size: 1.5rem;
  }

  .creditos-copywriting {
    font-size: 1.1rem;
  }

  .creditos-copywriting p:nth-child(1) {
    font-size: 1.3rem;
    color: var(--var-green);
  }
}

/* Tela pequenas / celulares */

@media (max-width: 768px) {
  body {
    position: relative;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    overflow: hidden;
    height: 100vh;
  }

  nav {
    display: none;
  }

  .menuHamburguer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    z-index: 10;
  }

  .menuHamburguer :nth-child(1) {
    width: 8rem;
  }

  .menuHamburguer :nth-child(2) {
    filter: invert(1);
    width: 4rem;
    height: 4rem;
  }

  .menuTelasMenores {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: var(--var-green);
    z-index: 100;
    transition: transform 0.5s;
  }

  .menuTelasMenores .logoPatinhasOnline {
    margin-bottom: 3rem;
  }

  .menuTelasMenores .navigation {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .menuTelasMenores .navigation li {
    font-size: 2rem;
  }

  .menuTelasMenores .navigation li:nth-child(-n + 5) a:hover {
    color: white;
  }

  .menuTelasMenores .navigation :nth-child(n + 6) {
    background-color: var(--var-white);
    outline: 1px solid var(--var-black);
    margin: 0.5rem 0;
  }

  .menuTelasMenores .navigation li.ativo::before {
    background-color: var(--var-white);
  }

  .fecharMenu {
    display: flex;
    justify-content: end;
    padding: 1rem;
    width: 100%;
  }

  .fecharMenu img {
    width: 3.5rem;
    filter: invert(1);
  }

  /* --------------- section Inicio --------------- */

  .section-inicio {
    padding: 0 2rem;
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  .background-inicio {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container-inicio {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    align-items: center;
  }

  h1 {
    color: #fff;
    text-align: center;
    font-family: var(--var-font-title);
    font-size: 3rem;
    font-weight: 400;
    
  }

  .btn-ajude-causa {
    font-size: 1.4rem;
    width: 23rem;
    height: 4.2rem;
    border: 1px solid var(--var-green);
  }

  .btn-ajude-causa:hover {
    background-color: white;
  }

  /* --------------- section Informações --------------- */

  .section-infos {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    overflow: hidden;
  }

  .container-infos,
  .container-img {
    width: 100%;
    height: auto;
  }

  .container-infos {
    padding: 4rem;
    font-size: 1.9rem;
  }

  .container-infos h2 {
    font-size: 4rem;
  }

  .container-img img {
    width: 100%;
  }

  /* -------------- section Como ajudar -------------- */

  .section-ajudar {
    padding: 4rem 2rem;
    height: auto;
  }
  .container-ajudar {
    flex-direction: column;
    gap: 4rem;
  }

  /* --------- section frase --------------- */

  .section-frase {
    width: 100%;
    height: 60vh;
    padding: 4rem 1rem;
  }

  .section-frase img {
    width: 100%;
    top: 0;
  }

  .section-frase p {
    width: 100%;
    font-size: 4rem;
  }

  /* --------------- Cards animais ---------------- */

  .section-animais {
    height: auto;
    padding: 5rem 3rem;

  }

  .section-animais h2 {
    color: var(--var-white);
    font-family: var(--var-font-title);
    font-size: 3rem;
  }

  .container-carrossel-animais {
    width: 100%;
    height: 45rem;
    position: relative;
  }

  .section-animais swiper-container {
    width: 100%;
    height: 90%;
  }

  .section-animais swiper-slide {
    width: 28rem;
    height: 32rem;
    padding: 1rem;
  }

  .box-imagem {
    height: 70%;
  }

  .imagem-animal {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transform: scale(1.2);
    z-index: -1;
  }

  .icon-animal {
    width: 100%;
  }

  .sexo-animal {
    width: 3rem;
  }

  .infoIconAnimais {
    width: 2.8rem;
  }

  .infoIconAnimais span {
    width: 100%;
    padding: 0 0.3rem;
    font-size: 0.5rem;
  }

  .info-animal h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .info-animal > div {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  .todos-animais {
    margin-top: 1rem;
  }

  .todos-animais a {
    font-size: 1.8rem;
  }

  /* -------------- historias felizes ------------- */

  .section-historias {
    overflow: hidden;
    padding: 3rem 1.5rem;
  }

  .section-historias h2 {
    width: 100%;
    font-size: 4rem;
    text-align: center;
  }

  .container-carrossel-historias {
    width: 100%;
    height: 100%;
  }

  .section-historias swiper-container {
    height: 100%;
  }

  .section-historias swiper-slide {
    height: auto;
  }

  .box-historias {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2.8rem;
    gap: 1.5rem;
    margin: 0 0;
  }

  .box-historias .img-box {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  .box-historias .img-box img {
    object-position: 0 -7rem;
  }

  .historia-feliz {
    width: 100%;
    height: auto;
    padding: 2rem 3rem;
  }

  .historia-feliz h4 {
    font-size: 2rem;
  }

  .historia-feliz p {
    font-size: 1.6rem;
  }

  /* ------------ Section parceiros ------------ */

  .section-parceiros {
    width: 100%;
    padding: 4rem 2rem;
    height: auto;
    gap: 2rem;
  }

  .section-parceiros h2 {
    font-size: 4rem;
  }

  .container-parceiros {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  #viniVegani img {
    width: 30rem;
  }

  /* ------------ Section Feed instagram  ------------ */

  .section-feedInstagram {
    height: 100%;
    padding-bottom: 2rem;
  }

  /* ----------- Footer ------------ */

  footer {
    max-width: 100%;
    height: auto;
    background-color: var(--var-green);
    padding: 0;
  }

  .container-footer {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    height: auto;
  }

  .container-footer ul {
    font-size: 1.9rem;
  }

  .listas-links {
    padding-left: 1.6rem;
    flex-wrap: wrap;
  }

  .redes-sociais {
    padding-left: 2rem;
    align-items: center;
  }

  .creditos-copywriting {
    font-size: 1.1rem;
  }

  .creditos-copywriting p:nth-child(1) {
    font-size: 1.3rem;
    color: var(--var-green);
  }
}
