
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --var-font: 'Montserrat', sans-serif;
    --var-green: #A4C213;
    --var-white: #FFFFFF;
    --var-black: #161616;
}